<h1>Admin Login Here</h1>
<form method="POST" action="/admin/login">
  <label for="email">Email</label>
  <input id="email" type="text" name="email">

  <label for="passwordText">Password</label>
  <input id="passwordText" type="password" name="password">

  <input type="submit">
</form>


<h2>Admin : No account? Sign up below!</h2>


<form method="POST" action="/admin/register">
  <label for="nameText">Full Name</label>
  <input id="nameText" type="text" name="name">

  <label for="usernameText">email</label>
  <input id="usernameText" type="text" name="username">

  <label for="passwordText">Password</label>
  <input id="passwordText" type="password" name="password">

  <label for="codeText">Code</label>
  <input id="codeText" type="password" name="admin_code">

  <input type="submit">
</form>
