<form method="POST" action="/registeruser">
  <label for="usernameText">Username</label>
  <input id="usernameText" type="text" name="username">

  <label for="passwordText">Password</label>
  <input id="passwordText" type="password" name="password">

  <input type="submit">
</form>
